{% extends 'admin/master.html' %}
{% block body %}
{{ super() }}
<div class="container">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1">
            <h1>Dior ChatBot : "Dis-moi Cristal"</h1>
            <p class="lead">
                Plateforme d'administration
            </p>
            <p>
                Actuellement, elle permet l'accès aux logs dans l'onglet Logs, avec la question posée au chatbot, la requête effectuée en SQL et la réponse donnée par le bot.
            </p>
        </div>
    </div>
</div>
{% endblock body %}
