{% extends 'admin/model/list.html' %}
{% block body %}
   <table>
   <thead>
     <tr>
       <th style="padding: 0 10px">Date</th>
       <th style="padding: 0 10px">Question</th>
       <th style="padding: 0 10px">Requete SQL</th>
       <th style="padding: 0 10px">Reponse</th>
     </tr>
   </thead>
   <tbody>
        {% for line in data %}
            <tr>
            {% for word in line %}
                <td style="padding: 10px">{{word}}</td>
            {% endfor %}
            </tr>
        {% endfor %}
    </tbody>
   </table>
{% endblock %}
